/* 

{Palette}
    White: #ffffff;
    Blue: #06558a;
    Teal: #9cd5e0;

*/

/* KEYFRAMES */

/* UI ANIMATIONS */
@keyframes feedback {
    0% { transform:scale(0.1,0.1); opacity:1; }
    100% { transform: scale(2, 2); opacity:0; }
}

@keyframes forwardBtnIdle {
    0% { transform: translate(0,0); }
    100% { transform: translate(5px,-15px); }
}

@keyframes buttonFeedback {
    0% { background:rgba(203,236,243,0); }
    50% { background:rgba(203,236,243,0.4); }
    100% { background:rgba(203,236,243,0); }
}
@keyframes btnFeedbackSheen {
    0% { transform:scale(0.1,0.1); opacity:0.6; }
    100% { transform: scale(100, 100); opacity:0; }
}

/* FACE ANIMATIONS */
@keyframes bounceOut {
    0% { transform: translateY(0); }
    100% { transform: translateY(900px); }
}

@keyframes zoomIn {
    0% { transform: scale(0.5); opacity:0; }
    100% { transform: scale(1); opacity:1; }
}

/* LANDING ANIMATIONS */
@keyframes rise {
    from { transform: translateY(590px); }
    to { transform: translateY(0); }
}


/* Font Face Declarations */
@font-face {
    font-family: 'HelveticaNeue-Light';
        src: url('../fonts/HelveticaNeue-Lt.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue-Light-Condensed';
        src: url('../fonts/HelveticaNeueLTStd-LtCn.otf') format('opentype');
}

@font-face {
    font-family: 'HelveticaNeue-Medium';
        src: url('../fonts/HelveticaNeue-Md.otf') format('opentype');
}

@font-face {
    font-family: 'HelveticaNeue-Medium-Condensed';
        src: url('../fonts/Helvetica-Neue-LT-Std-57-MdCn.ttf') format('truetype');
}


/* GENERAL ****************************************/

body {
    font-family:'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
    line-height:90px;
    font-size:90px;
    color:#06558a;
}

strong {
    font-family: 'HelveticaNeue-Medium', Helvetica, Arial, sans-serif;
    font-weight:normal;
}

.font-md-cd {
    font-family: 'HelveticaNeue-Medium-Condensed' Helvetica, Arial, sans-serif;
}

.font-lt-cd {
    font-family: 'HelveticaNeue-Light-Condensed' Helvetica, Arial, sans-serif;
}

/* BG Video */
.bg-video {
    position:absolute;
    top:0;
    left:0;
}

/* Keyboard */
.ui-keyboard {
    border-radius: 0;
    left: 0 !important;
    top: auto !important;
    bottom: 0;
    position: fixed;
    width: 100%;
    font-size:36px;
}

/* Form Notification Styles */
.notifyjs-corner {
    font-size:20px;
}

.modal-content {
    font-size:25px;
    line-height:31px;
}

/* Footer */
.footer {
    position:absolute;
    bottom:0;
    z-index:100;
}

.footnote {
    font-size: 14px;
    line-height:12px;
    color:#fff;
    position:absolute;
    bottom: 26px;
    left: 194px;
    transition: all 0.4s;
}


/* ANIMATIONS *************************************/

/* General */
.anim-bounceOut { animation: bounceOut 1s cubic-bezier(.5,-0.39,.6,1) forwards; }
.anim-zoomIn { animation: zoomIn 1.5s ease-out forwards; }
.anim-forwardBtnIdle { animation: forwardBtnIdle 4s ease-in-out forwards infinite alternate; }
.anim-buttonFeedback { animation: buttonFeedback 0.4s ease-in-out forwards; }
.anim-btnFeedbackSheen { animation: btnFeedbackSheen 0.7s ease-in-out 0.4s; }

/* Slide Two */
.anim-rise .second-row img:first-of-type { animation: rise 0.4s ease-out forwards; }
.anim-rise .second-row img:nth-of-type(2) { animation: rise 0.4s ease-out forwards 0.2s; }
.anim-rise .second-row img:last-of-type { animation: rise 0.4s ease-out forwards 0.4s; }

/* Slide Three */
.anim-gradualFadein [class^="fade"] { opacity:1 !important; transform:rotate3d(0,1,0,360deg); }
.fadeOne { /* no delay */ }
.fadeTwo  { transition-delay: 0.15s !important; }
.fadeThree { transition-delay: 0.3s !important; }
.fadeFour { transition-delay: 0.45s !important; }
.fadeFive { transition-delay: 0.6s !important; }
.fadeSix { transition-delay: 0.75s !important; }

/* Slide Four */
#slide-four .anim-underline .underline { max-width: 271px !important; opacity: 1 !important; }
#slide-seven .anim-underline .underline { max-width: 429px !important; opacity: 1 !important; }

/* Slide Five */
.anim-lineNarrative .point-a,
.anim-lineNarrative .point-b { 
    font-weight:bold !important; 
    background-color:#98d2dd !important; 
    transform:translate(0,0) !important; 
}
.anim-lineNarrative .bg-line { max-width:936px !important; opacity:1 !important; }
.anim-lineNarrative [class^="box"] { transform: translateX(0) !important; opacity: 1 !important; }
.anim-lineNarrative [class^="box"] { max-width: 926px; }
#slide-five .face-one .point-a {transition: all 1s;}
#slide-five .face-one .bg-line { transition:max-width 2.9s 1s linear, opacity 0.2s 1s; }
#slide-five [class^="box"] { transition:all 0.5s; }
#slide-five .boxOne { transition-delay: 0.6s; }
#slide-five .boxTwo { transition-delay: 1.3s; }
#slide-five .face-one .point-b {transition: all 1.5s 2.6s;}
#slide-five .boxThree { transition-delay: 2.3s; }
#slide-five .boxFour { transition-delay: 3.5s; }

/* Slide Six */
.anim-gradualColorShift .st1 { fill:#19468D !important; }

/* DYNAMIC & MODULAR CLASSES ****************************************/

/* Modular classes */
.error { color: red; }
.clear-both { clear:both; }

.white-text, .white-text:hover, .white-text:active { color:#fff !important; }
.white-bg { background-color:#fff !important; }

.blue-text, .blue-text:hover, .blue-text:active { color:#06558a !important; }
.blue-bg { background-color:rgba(6,85,138, 0.8); }
.blue-arrow span:after { border-right-color:#06558a; }

.grey-bg { background-color: rgba(238,242,244,0.5);}

.hide { display: none; }
.show { display: block; }

.click { pointer-events:auto; z-index:110; }
.no-click { pointer-events:none; z-index:108; }

.fadeout { opacity:0 !important; }
.fadeout-after:after { opacity: 0 !important; }
.fadein { opacity:1 !important; }

.small-scale { transform: scale(0.5); }

/* Faces */
.face-inner {
    position:absolute;
    top:0;
    left:0;
    transition:all 0.3s;
}

.face-two {
    opacity:0;
}

/* Face switch */
.carousel-face-switch {
    height:86px;
    width:390px;
    position:absolute;
    right:197px;
    bottom:287px;
    opacity:1;
    z-index:109;
    cursor:pointer;
}

/* Marquee */
.marquee {
    font-size:43px;
    line-height:45px;
    color:#BABFC3;
    position:absolute;
    white-space:nowrap;
    width:1980px;
    opacity:1;
    transition:all 0.2s;
}

.marquee-left {
    top:-140px;
    left:-220px
}

.marquee-right {
    top:-95px;
    right:-240px;
}

/* Click Feedback */
.click-feedback-absolute { 
    position:absolute;
}

.click-feedback-absolute,
.click-feedback-absolute * {
    pointer-events:none;
}

.click-feedback {
    position:relative;
    width:0;
    height:0;
    z-index:200;
}

.click-feedback:before,
.click-feedback:after {
    animation: feedback 0.5s ease-out forwards;
    content:'';
    position:absolute;
    border:4px solid #CBECF3;
    border-radius:50%;
    opacity:0.8;
    width:50px;
    height:50px;
}

.click-feedback:before {
    top:-25px;
    left:-25px;
}

.click-feedback:after {
    /*border: 2px solid #CBECF3;*/
    border:none;
    width:80px;
    height:80px;
    top:-40px;
    left:-40px;
    background: radial-gradient(rgba(203,236,243,0.5), rgba(203,236,243,0.1));
}

/* Forward Button Animation */
#carousel:after {
    content:'';
    position:absolute;
    width: 327px;
    height: 28px;
    right: 230px;
    bottom: 308px;
    box-shadow: 0px -8px 0px 29px rgba(0,0,0,0.5);
    -webkit-clip-path: polygon(364px 0, 384px 50%, 364px 100%, 2px 100%, 19px 50%, 0px 0%);
    clip-path: polygon(366px 0, 385px 50%, 366px 100%, 0% 100%, 18px 50%, -1px 0%);
}

/* Forward Button Feedback */
.button-feedback {
    background: rgba(203,236,243,0.5);
    width:500px;
    height:200px;
    position:absolute;
    top:0;
    left:0;
}

.button-feedback-sheen {
    width:10px;
    height:10px;
    border:1px solid #CBECF3;
    border-radius:50%;
    opacity:0;
    position:absolute;
    top:50%;
    margin-top:-5px;
    left:50%;
    margin-left:-5px;
}


/* CAROUSEL ****************************************/

/* Carousel Styles */
.carousel {
    height: 1080px;
    width: 1920px;
}
.carousel-inner {
    height:100%;
    background-color:rgba(255,255,255,0.4);
}
.item {
    height: 100%;
    width:100%;
}
.carousel-content {
    width: 1537px;
    height:410px;
    margin:0 auto;
    top: 100px; left: 0; bottom: 0; right: 0;
    position:relative;
}

/* Carousel Indicators */
.carousel-indicators {
    bottom:303px;
    right:600px;
    left:initial;
    width:347px;

    font-size:14px;
    line-height:14px;

    transition:all 0.3s;
}

.carousel-indicators li,
.carousel-indicators .active {
    background-color: rgba(0,0,0,0.16);
    border:0;
    border-radius:50%;
    width:30px;
    height:30px;
    margin:0 8px;
}

.carousel-indicators .active {
    background-color: #06558a;
}

/* Carousel Controls */
.carousel .carousel-control {
    background:none;
    transition:all 0.3s;
}

.carousel-control.right {
    /*background:url(../img/next-slide-btn.png) 50% 50% no-repeat;*/
    background-color:#06558A;
    box-shadow:0 0 1px 0 transparent;
    overflow:hidden;
    height:86px;
    width:390px;

    right:197px;
    bottom:287px;
    top:initial;
    opacity:1;
    z-index:110;
    transition:all 0.2s;

    -webkit-clip-path: polygon(366px 0, 385px 50%, 366px 100%, 0% 100%, 18px 50%, 0% 0%);
}

.next-slide-btn {
    font-weight:normal;
    font-size: 53px;
    line-height: 89px;
    vertical-align:top;
    position:absolute;
    left: 29px;
    top: -4px;
    transition:all 0.2s;
}

.next-slide-btn:nth-of-type(1) { left: 60px; }
.next-slide-btn:nth-of-type(2) { left: 47px; top: -4px;}
.next-slide-btn:nth-of-type(3) { left: 35px; top: -4px;}
.next-slide-btn:nth-of-type(4) { left: 25px; }
.next-slide-btn:nth-of-type(5) { left: 39px; }
.next-slide-btn:nth-of-type(6) { left: 76px; }

.carousel-control.left {
    opacity:1;
    line-height:64px;
    width: 100px;
    height: 60px;
    top:700px;
    left:340px;
    transition:all 0.3s;
    z-index:120;
}

.carousel-control.left:hover,
.carousel-control.left:focus {
    color:#06558a;
}

.back-slide-btn {
    text-shadow:none;
    font-size:30px;
    position:relative;
}

.back-slide-btn:after {
    content:'';
    height:0;
    width:0;
    position:absolute;
    left:-30px;
    top:50%;
    margin-top:-30px;
    border-right:15px solid #fff;
    border-top:30px solid transparent;
    border-bottom:30px solid transparent;
}


/* Controls */
#controls {
    position: absolute;
    font-size:14px;
    line-height:30px;
    bottom: 0;
    right: 0;
    z-index:120;
}

#controls button, #controls div {
    display: inline-block;
}

/* CONTENT ****************************************/

/* Slide One */
#slide-one .face-one,
#slide-one .face-two {
    margin-top:140px;   
}

#slide-one .face-two img {
    float:right;
    width: 538px;
    margin-left: -82px;
    margin-top: 13px;
}

#slide-one .face-two .copy-style {
    float:left;
    width: 999px;
}

#slide-one .copy-style-inner {
    width: 550px;
    position:absolute;
    left: 451px;
    top: 40px;
}

#slide-one .copy-style-inner span {
    display:block;
    position:relative;
    line-height: 0px;
}

#slide-one .copy-style .one {
    font-family: 'HelveticaNeue-Medium-Condensed', Helvetica, Arial, sans-serif;
    position:absolute;
    top: 165px;
    font-size: 312px;
    font-weight:bold;
    width: 418px;
    vertical-align: top;
    letter-spacing: -2px;
}

#slide-one .copy-style .two {
    font-size: 49px;
    top: 27px;
}

#slide-one .copy-style .three {
    font-family: 'HelveticaNeue-Light-Condensed', Helvetica, Arial, sans-serif;
    font-size: 122px;
    top: 108px;
}

#slide-one .copy-style .four {
    font-family: 'HelveticaNeue-Light-Condensed', Helvetica, Arial, sans-serif;
    font-size: 111px;
    top: 204px;
}

#slide-one .copy-style .two sup { vertical-align: 9px; font-size: 27px;}
#slide-one .copy-style .three sup { vertical-align: 31px; font-size: 44px;}


/* Slide Two */
#slide-two {
    line-height: 111px;
}

#slide-two .second-row {
    position:relative;
    height: 368px;
}

#slide-two .second-row img {
    position:absolute;
}

#slide-two .second-row img:first-of-type {
    top:30px;
    left: 190px;
    z-index: 3;
    transform: translateY(590px);
}

#slide-two .second-row img:nth-of-type(2) {
    top: 66px;
    left: 252px;
    z-index: 2;
    transform: translateY(590px);
}

#slide-two .second-row img:last-of-type {
    top:100px;
    left: 313px;
    z-index: 1;
    transform: translateY(590px);
}

#slide-two .second-row span {
    font-family:'HelveticaNeue-Medium-Condensed', Helvetica, Arial, sans-serif;
    font-size:40px;
    line-height:40px;
    color:#a5b4c5;

    display:block;
    width:500px;

    position:absolute;
    right: 331px;
    top: 138px;
    
    opacity:0;
    transition:all 0.6s 0.8s;
}


/* Slide Three */
#slide-three .face-one {
    margin-top: 104px;
    line-height:110px;
}

#slide-three .face-two {
    position:relative;
    font-size: 60px;
    line-height: 78px;
    text-align: center;
    margin-top: 81px;
}

#slide-three span {
    font-family:'HelveticaNeue-Medium', Helvetica, Arial, sans-serif;
    display:block;
    position:absolute;
}

#slide-three span:first-of-type {
    font-size: 140px;
    left: 140px;
    bottom: -144px;
}

#slide-three span:last-of-type {
    font-size: 58px;
    left: 692px;
    bottom: -270px;
}


/* Slide Four */
#slide-four .first-row {
    font-size:74px;
}

#slide-four [class^='fade'] {
    transition:all 1.7s ease-in-out;
    opacity:0;
}

#slide-four .face-one [class^='fade'] {
    font-size:16px;
    color:#d4dbe3;
    line-height:16px;
    position: absolute;
}

#slide-four .face-one .fadeOne {
    left: 5px;
    bottom:-340px;
}

#slide-four .number {
    font-size: 150px;
    color: #06558a;
    font-family:'Helvetica-Medium', Helvetica, Arial, sans-serif;
    position:absolute;
    bottom:190px;
    left:57px;
}

#slide-four .subtitle {
    font-family:'HelveticaNeue-Light-Condensed', Helvetica, Arial, sans-serif;
    font-size:30px;
    line-height:40px;
    color: #06558a;
    text-align:center;
    
    position:absolute;
    left:-57px;
    top:220px;
    width:400px;
}

#slide-four .face-one .fadeTwo {
    left: 314px;
    bottom: -210px;
    width: 170px;
}

#slide-four .face-one .fadeThree {
    left: 547px;
    bottom:-340px;
}

#slide-four .face-one .fadeFour {
    left: 853px;
    bottom: -175px;
    width: 120px;
}

#slide-four .face-one .fadeFive {
    left: 1024px;
    bottom:-340px;
}

#slide-four .face-one .fadeSix {
    left: 1330px;
    bottom: -210px;
    width: 120px;
}

#slide-four .face-two {
    width:100%;
}

#slide-four .underline {
    background-color:#fff;
    display:block;
    width: 271px;
    height:5px;
    opacity:0;
    max-width:0;
    transition: max-width 2s ease-in-out 0.6s, opacity 1s ease-in-out 0.6s;
    position:absolute;
    left: 364px;
    top: 84px;
}

#slide-four .face-two .first-row {
    font-size: 56px;
    text-align:center;
}

#slide-four .face-two .second-row {
    font-family:'HelveticaNeue-Light-Condensed', Helvetica, Arial, sans-serif;
    font-size: 110px;
    line-height: 97px;
    margin-top: 59px;
    margin-left: auto;
    margin-right: auto;
    width: 859px;
}

#slide-four .face-two .second-row img {
    position:absolute;
    right: 268px;
    width: 446px;
    top: 100px;
}

#slide-four .face-two .third-row {
    font-size: 76px;
    margin-top:60px;
    text-align:center;
    margin-left: 52px;
}


/* Slide Five */
#slide-five .face-one {
    font-size:80px;
    width:100%;
}

#slide-five .face-one .first-row {
    text-align:center;
}

#slide-five .face-one .point-a,
#slide-five .face-one .point-b {
    text-align:center;
    display:block;
    position:absolute;
    width: 132px;
    height:105px;
    font-weight:normal;
    background-color:transparent;
    -webkit-clip-path: polygon(100% 0, 100% 76%, 50% 100%, 0% 76%, 0% 0%);
}

#slide-five .face-one .point-a {
    top:255px;
    left: 270px;
    z-index:1;
    transform: translate(705px,-255px);
}

#slide-five .face-one .point-b {
    top:255px;
    left: 1158px;
    z-index:1;
    transform: translate(180px,-255px);
}

#slide-five .face-one .bg-line {
    background-color:#9db8d0;
    height: 44px;
    width: 926px;
    position:absolute;
    top: 394px;
    left: 282px;

    max-width:0;
    opacity:0;
}

#slide-five [class^="box"] {
    font-family:'HelveticaNeue-Light-Condensed', Helvetica, Arial, sans-serif;
    font-size:40px;
    line-height: 47px;
    color:#fff;
    background-color:#5b8ab5;
    position:absolute;
    height:130px;
    width:205px;
    -webkit-clip-path: polygon(87% 0, 100% 50%, 87% 100%, 0% 100%, 10% 50%, 0% 0%);

    opacity:0;
    transform: translateX(-60px);
}

#slide-five .boxOne {
    background: url(../img/arrow-box.png) 50% 50% no-repeat;
    position:absolute;
    display:block;
    text-align:center;
    vertical-align:middle;
    padding-top:46px;
    padding-left:7px;
    top:350px;
    left: 243px;
}

#slide-five .boxTwo {
    background: url(../img/arrow-box.png) 50% 50% no-repeat;
    top:350px;
    left: 456px;
    text-align:center;
    padding-top:22px;
}

#slide-five .boxThree {
    background: url(../img/arrow-box-large.png) 50% 50% no-repeat;
    top:350px;
    left: 670px;
    width:450px;
    padding-top:20px;
    text-align:center;
    -webkit-clip-path: polygon(94% 0, 100% 50%, 94% 100%, 0% 100%, 5% 50%, 0% 0%);
}

#slide-five .boxThree span {
    display:inline-block;
    vertical-align:middle;
}

#slide-five .boxThree span:nth-of-type(2) {
    font-size:60px;
    padding-left:10px;
    padding-right:10px;
}

#slide-five .boxFour {
    -webkit-clip-path:none;
    top:350px;
    left: 1141px;
    width: 165px;
    padding-left: 36px;
    padding-top: 45px;
}

#slide-five .face-two {
    font-size:80px;
    margin-top: 80px;
}

#slide-five .face-two img {
    float:right;
    margin-top: -99px;
    margin-right: 48px;
}

#slide-five .face-two span {
    font-size: 54px;
    line-height:60px;
    display:block;
    margin-top: 59px;
}


/* Slide Six */
#slide-six .face-one {
    font-size:84px;
    line-height: 104px;
    margin-top: 110px;
}

#slide-six .face-two {
    width:100%;
}

#slide-six .face-two .left-col {
    width: 766px;
    margin-top: 30px;
}

#slide-six .face-two span {
    font-size: 47px;
    line-height: 59px;
    display: block;
    width: 550px;
}

#slide-six .face-two ul {
    font-family:'HelveticaNeue-Medium', Helvetica, Arial, sans-serif;
    box-sizing:border-box;
    font-size: 23px;
    color:#575859;
    line-height: 28px;
    width: 49%;
    display:inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-bottom: 17px;
}

#slide-six .face-two li {
    padding: 7px 0;
}

#slide-six .face-two .ribbon {
    font-size: 44px;
    line-height: 76px;
    color:#fff;
    background-color:#9cd5e0;
    text-align:center;
    -webkit-clip-path: polygon(100% 0%, 98% 50%, 100% 100%, 0% 100%, 2% 50%, 0% 0%);
}

#slide-six .face-two img {
    position:absolute;
    right: -78px;
    top: 33px;
}

#slide-six .face-two svg {
    position:absolute;
    top:31px;
    right:-50px;
    width:1000px;
    transition:all 0.3s;
}

#slide-six .face-two svg .st1 {
    transition:all 0.8s;
    fill:#BCBEC0;
}

/* Slide Seven */
#slide-seven { transition:background-color 0.3s, transform .6s ease-in-out; }

#slide-seven .face-one {
    font-size:40px;
}

#slide-seven .left-col {
    float:left;
    width: 720px;
    padding-right: 40px;
}

#slide-seven .left-col .first-row {
    font-size: 119px;
    line-height: 64px;
    display:block;
    margin-top: 59px;
}

#slide-seven .face-one .left-col .second-row {
    font-size: 60px;
    line-height: 66px;
    display: block;
    margin-top: 31px;
}

#slide-seven #form {
    line-height:85px;
    float:right;
    width: 780px;
    margin-top:35px;
    position:relative;
    z-index:10;
}

#slide-seven .form-group {
    display:inline-block;
    width: 340px;
    margin:0;
    position:relative;
}

#slide-seven input {
    font-family:'HelveticaNeue-Light-Condensed', Helvetica, Arial, sans-serif;
    font-size:40px;
    line-height:100%;
    vertical-align: top;
    border-radius:0;
    border:none;
    background:#d9d9d9;
    box-shadow:none;
    box-sizing:border-box;
    position:absolute;
    top:-60px;
    height:60px;
    width:320px;
    padding: 10px 20px 0;
    z-index:15;
    transition:all 0.2s;
}

#slide-seven input:focus {
    box-shadow: 0px 0px 11px 2px #06558a;
}

#slide-seven ::-webkit-input-placeholder {
    color:#06558a;
    padding-top:4px;
}

#slide-seven .req-label {
    font-family:'HelveticaNeue-Medium', Helvetica, Arial, sans-serif;
    font-size: 13px;
    position:absolute;
    bottom: -56px;
    right: 19px;
}

#slide-seven #form-submit {
    font-size: 37px;
    line-height:37px;
    color:#fff;
    background:#06558a;
    border-radius:0;
    border:none;
    text-shadow:none;
    width: 184px;
    height:60px;
    margin-top: -3px;
    vertical-align:top;
    -webkit-clip-path: polygon(60% 0, 65% 50%, 60% 100%, 0% 100%, 5% 50%, 0% 0%);
    z-index: 25;
}

#slide-seven #form-submit:focus,
#slide-seven #form-submit:after:focus { outline:none; }

#slide-seven #form-submit:after {
    content:'';
    position:absolute;
    width: 278px;
    height: 60px;
    top: 165px;
    right: 147px;
}

#slide-seven #form img {
    width:70px;
    margin-left:10px;
    margin-top: -37px;
}

#slide-seven .face-one .second-row {
    clear:both;
    margin-top: 340px;
    font-size: 105px;
}

#slide-seven .face-two {
    text-align:center;
    line-height: 57px;
    width: 100%;
    margin-top: 40px;
}

#slide-seven .underline {
    background-color:#fff;
    display:block;
    width: 426px;
    height:5px;
    opacity:0;
    max-width:0;
    transition: max-width 2s ease-in-out 0.6s, opacity 1s ease-in-out 0.6s;
    position:absolute;
    left: 126px;
    top: 88px;
}

#slide-seven .face-two .second-row {
    text-align:left;
    font-size: 120px;
    line-height: 99px;
    padding-left: 330px;
    padding-top: 90px;
}

#slide-seven .face-two .second-row span:nth-of-type(2) {
    font-size: 107px;
}

#slide-seven .face-two .second-row img {
    position:absolute;
    right: 270px;
    top: 100px;
    width: 453px;
}