
/* KEYFRAMES */

@keyframes bounceOut {
    0% { transform: translateY(0); }
    /*20% { transform: translateY(-50px); }*/
    100% { transform: translateY(900px); }
}

@keyframes zoomIn {
    0% { transform: scale(0.5); opacity:0; }
    100% { transform: scale(1); opacity:1; }
}

/* Font Face Declarations */

@font-face {
    font-family: 'HelveticaNeue-Regular';
        src: url('../fonts/HelveticaNeue-Regular.ttf') format('truetype');
}

/* 

{Palette}
    White: #ffffff;
    Blue: #06558a;
    Teal: #9cd5e0;

*/

/* GENERAL ****************************************/

body {
    font-family:'HelveticaNeue-Regular',Arial,sans-serif;
    line-height:90px;
    font-size:90px;
    color:#06558a;
}

/* BG Video */
.bg-video {
    position:absolute;
    top:0;
    left:0;
}

/* Footer */
.footer {
    position:absolute;
    bottom:0;
    z-index:100;
}


/* CAROUSEL ****************************************/

/* Carousel Styles */
.carousel {
    height: 1080px;
    width: 1920px;
}
.carousel-inner {
    height:100%;
}
.item {
    height: 100%;
    width:100%;
}
.carousel-content {
    width: 1537px;
    height:410px;
    margin:0 auto;
    top: 100px; left: 0; bottom: 0; right: 0;
    position:relative;
}

/* Carousel Indicators */
.carousel-indicators {
    bottom:300px;
    right:600px;
    left:initial;
    width:347px;

    font-size:14px;
    line-height:14px;
}

.carousel-indicators li,
.carousel-indicators .active {
    background-color: rgba(0,0,0,0.16);
    border:0;
    border-radius:50%;
    width:30px;
    height:30px;
    margin:0 8px;
}

.carousel-indicators .active {
    background-color: #06558a;
}

/* Carousel Controls */
.carousel .carousel-control {
    background:none;
    transition:all 0.3s;
}

.carousel-control.right {
    background:url(../img/next-slide-btn.png) 50% 50% no-repeat;
    height:86px;
    width:390px;

    right:197px;
    bottom:287px;
    top:initial;
    opacity:1;
    z-index:110;
}

.next-slide-btn {
    font-weight:normal;
    font-size:55px;
    line-height: 89px;
    vertical-align:middle;
}

.carousel-control.left {
    opacity:1;
    line-height:64px;
    width: 100px;
    height: 60px;
    top:700px;
    left:340px;
    transition:all 0.3s;
    z-index:120;
}

.carousel-control.left:hover,
.carousel-control.left:focus {
    color:#06558a;
}

.back-slide-btn {
    text-shadow:none;
    font-size:30px;
    position:relative;
}

.back-slide-btn:after {
    content:'';
    height:0;
    width:0;
    position:absolute;
    left:-30px;
    top:50%;
    margin-top:-30px;
    border-right:15px solid #fff;
    border-top:30px solid transparent;
    border-bottom:30px solid transparent;
}


/* Controls */
#controls {
    position: absolute;
    bottom: 0;
    right: 0;
    display:none;
}
#controls button, #controls div {
    display: inline-block;
}


/* Keyboard */
.ui-keyboard {
    border-radius: 0;
    left: 0 !important;
    top: auto !important;
    bottom: 0;
    position: fixed;
    width: 100%;
}


/* DYNAMIC & MODULAR CLASSES ****************************************/

/* Modular classes */
.error { color: red; }
.clear-both { clear:both; }

.white-text { color:#fff; }
.white-bg { background-color:#fff; }

.blue-text { color:#06558a; }
.blue-bg { background-color:rgba(6,85,138, 0.9); }
.blue-arrow span:after { border-right-color:#06558a; }

.hide { display: none; }
.show { display: block; }

.click { pointer-events:auto; z-index:110; }
.no-click { pointer-events:none; z-index:108; }

.fadeout { opacity:0 !important; }
.fadein { opacity:1 !important; }

.small-scale { transform: scale(0.5); }


/* Animations */
.bounceOut {
    animation: bounceOut 1.5s cubic-bezier(.5,-0.39,.6,1) forwards;
}

.zoomIn {
    animation: zoomIn 1.5s ease-out forwards;
}

/* Faces */
.face-inner {
    position:absolute;
    top:0;
    left:0;
    transition:all 0.3s;
}

.face-two {
    opacity:0;
}

/* Face switch */
.carousel-face-switch {
    height:86px;
    width:390px;
    position:absolute;
    right:197px;
    bottom:287px;
    opacity:1;
    z-index:109;
    cursor:pointer;
}

/* Marquee */
.marquee {
    font-size:43px;
    line-height:45px;
    color:#7a7d80;
    position:absolute;
    white-space:nowrap;
    width:1980px;
    opacity:1;
    transition:all 0.2s;
}

.marquee-left {
    top:-140px;
    left:-220px
}

.marquee-right {
    top:-95px;
    right:-240px;
}


/* CONTENT ****************************************/

/* Slide One */
#slide-one .face-one,
#slide-one .face-two {
    margin-top:140px;   
}

#slide-one .face-two img {
    float:right;
    width: 538px;
    margin-left: -82px;
}

#slide-one .face-two .copy-style {
    float:left;
    width: 999px;
}

#slide-one .copy-style-inner {
    width: 43%;
    display:inline-block;
}

#slide-one .copy-style-inner span {
    display:block;
    position:relative;
    line-height: 0px;
}

#slide-one .copy-style .one {
    display:inline-block;
    font-size: 262px;
    font-weight:bold;
    width: 479px;
    line-height: 216px;
    vertical-align: top;
    letter-spacing: -16px;
    margin-top: 29px;
}

#slide-one .copy-style .two {
    font-size: 49px;
    top: 10px;
}

#slide-one .copy-style .three {
    font-size: 82px;
    top: 77px;
}

#slide-one .copy-style .four {
    font-size: 75px;
    top: 150px;
}

#slide-one .copy-style .two sup { vertical-align: -4px; }
#slide-one .copy-style .three sup { vertical-align: -15px; }